@import url('https://fonts.googleapis.com/css2?family=Playball&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

*{
    margin: 0;
    padding: 0;
    color: #f2f5f7;
    font-family: sans-serif;
    letter-spacing: 1px;
    font-weight: 300;
}
body{
    overflow-x: hidden;
}
nav{
    height: 3rem;
    width: 100%;
    background-color: #13141852;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
    display: flex;
    position: fixed;
    z-index: 10;
    top: 0px;
}

/*Styling logo*/
.logo{
    padding:1vh 1vw;
    text-align: center;
}
.logo img {
    height: 2.8rem;
    width: 5rem;
}

/*Styling Links*/
.nav-links{
    display: flex;
    list-style: none; 
    width: 88vw;
    padding: 0 0.7vw;
    justify-content: space-evenly;
    align-items: center;
    text-transform: uppercase;
}
.nav-links li a{
    text-decoration: none;
    margin: 0 0.7vw;
}
.nav-links li a:hover {
    color: #61DAFB;
}
.nav-links li {
    position: relative;
}
.nav-links li a::before {
    content: "";
    display: block;
    height: 3px;
    width: 0%;
    background-color: #61DAFB;
    position: absolute;
    transition: all ease-in-out 250ms;
    margin: 0 0 0 10%;
}
/*.nav-links li a:hover::before{
    width: 80%;
}*/

/*Styling Buttons*/
.login-button{
    background-color: transparent;
    border: 1.5px solid #f2f5f7;
    border-radius: 2em;
    padding: 0.6rem 0.8rem;
    margin-left: 2vw;
    font-size: 1rem;
    cursor: pointer;

}
.login-button:hover {
    color: #131418;
    background-color: #f2f5f7;
    border:1.5px solid #f2f5f7;
    transition: all ease-in-out 350ms;
}
.join-button{
    color: #131418;
    background-color: #61DAFB;
    border: 1.5px solid #61DAFB;
    border-radius: 2em;
    padding: 0.6rem 0.8rem;
    font-size: 1rem;
    cursor: pointer;
}
.join-button:hover {
    color: #f2f5f7;
    background-color: transparent;
    border:1.5px solid #f2f5f7;
    transition: all ease-in-out 350ms;
}

/*Styling Hamburger Icon*/
.hamburger div{
    width: 30px;
    height:3px;
    background: #f2f5f7;
    margin: 5px;
    transition: all 0.3s ease;
}
.hamburger{
    display: none;
}

/*Stying for small screens*/
@media screen and (max-width: 800px){
    nav{
        position: fixed;
        z-index: 3;
    }
    .hamburger{
        display:block;
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 50%;
        transform: translate(-5%, -50%);
        z-index: 2;
        transition: all 0.7s ease;
    }
    .nav-links{
        position: fixed;
        background: #131418;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        clip-path: circle(50px at 90% -20%);
        -webkit-clip-path: circle(50px at 90% -10%);
        transition: all 1s ease-out;
        pointer-events: none;
    }
    .nav-links.open{
        clip-path: circle(1000px at 90% -10%);
        -webkit-clip-path: circle(1000px at 90% -10%);
        pointer-events: all;
    }
    .nav-links li{
        opacity: 0;
    }
    .nav-links li:nth-child(1){
        transition: all 0.5s ease 0.2s;
    }
    .nav-links li:nth-child(2){
        transition: all 0.5s ease 0.4s;
    }
    .nav-links li:nth-child(3){
        transition: all 0.5s ease 0.6s;
    }
    .nav-links li:nth-child(4){
        transition: all 0.5s ease 0.7s;
    }
    .nav-links li:nth-child(5){
        transition: all 0.5s ease 0.8s;
    }
    .nav-links li:nth-child(6){
        transition: all 0.5s ease 0.9s;
        margin: 0;
    }
    .nav-links li:nth-child(7){
        transition: all 0.5s ease 1s;
        margin: 0;
    }
    li.fade{
        opacity: 1;
    }
}
/*Animating Hamburger Icon on Click*/
.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
    transition: all 0.7s ease;
    width:0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}



.heading h3{
font-family: 'Playball', cursive;

}

.img1{
  width: 180px;
  margin-top: 50px;
}

.img2{
  width: 160px;
  height: 120px;
  margin-top: 50px;
}

.img-responsive{
  width:100%;
  height: 400px;
  margin-top: 25px;
  margin-bottom: 65px;
  margin-right: 100px;
}

  /* column */
  * {
    box-sizing: border-box;
  }
  
  /* Create two equal columns that floats next to each other */
  .column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 50px; /* Should be removed. Only for demonstration */
  }
  
  .column p{
    font-family: 'Courgette', cursive;
    font-size: 0.8em;
  }

  .column2 p{
    font-family: 'Courgette', cursive;
    font-size: 0.8em;
  }

  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .row{
    height: 300px;
    margin-left: 100px;
    margin-right: 100px;
  }


@media only screen and (max-width: 500px) {
.row{
 margin-left: 50px;
 margin-right: 50px;
}
}

@media only screen and (max-width: 400px) {
.img1{
 width: 120px;
}
}

@media only screen and (max-width: 400px) {
.img2{
 width: 100px;
}
}

@media only screen and (max-width: 700px) {
.img-responsive{
 margin-right: 0px;
}
}


  body {
    background-color: white;
    
    font-size: 20px;
    font-weight: 400;
    line-height: 1.45;
    color: #545454;
    padding: 1em;
  }
  
  article {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
  
  p {
    margin-bottom: 1.3em;
  }
  
  h1, h2, h3, h4 {
    margin: 1.414em 0 0.5em;
    font-weight: 700;
    line-height: 1.2;
  }
  
  h1 {
    margin-top: 0;
    font-size: 3.157em;
  }
  
  h2 {font-size: 2.369em;}
  
  h3 {font-size: 1.777em;}
  
  h4 {font-size: 1.333em;}
  
  small, .font_small {font-size: 0.75em;}
 
 




 /*.footer {
  width: 100%;
  position: relative;
  height: auto;
  background-color: #070617;
}
.footer .col {
  width: 190px;
  height: auto;
  float: left;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 0px 20px 20px 20px;
}
.footer .col h1 {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: 12px;
  line-height: 17px;
  padding: 20px 0px 5px 0px;
  color: rgba(255,255,255,0.2);
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.250em;
}
.footer .col ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.footer .col ul li {
  color: #999999;
  font-size: 14px;
  font-family: inherit;
  font-weight: bold;
  padding: 5px 0px 5px 0px;
  cursor: pointer;
  transition: .2s;
  -webkit-transition: .2s;
  -moz-transition: .2s;
}
.social ul li {
  display: inline-block;
  padding-right: 5px !important;
}

.footer .col ul li:hover {
  color: #ffffff;
  transition: .1s;
  -webkit-transition: .1s;
  -moz-transition: .1s;
}*/
/*.clearfix {
  clear: both;
}
@media only screen and (min-width: 1280px) {
  .row{
    margin-bottom: 50px;
  }
  .contain {
    width: 1200px;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 1139px) {
  .row{
    margin-bottom: 50px;
  }
  .contain .social {
    width: 1000px;
    display: block;
  }
  .social h1 {
    margin: 0px;
  }
}
@media only screen and (max-width: 950px) {
  .row{
    margin-bottom: 200px;
  }
  .footer .col {
    width: 100%;
  }
  .footer .col h1 {
    font-size: 14px;
  }
  .footer .col ul li {
    font-size: 13px;
  }
}
@media only screen and (max-width: 500px) {
  .row{
    margin-bottom: 300px;
  }  

    .footer .col {
      width: 100%;
    }
    .footer .col h1 {
      font-size: 14px;
    }
    .footer .col ul li {
      font-size: 13px;
    }
}
@media only screen and (max-width: 480px) {
  .row{
    margin-bottom: 300px;
  }
  .footer .col {
    width: 100%;
  }
}*/

@media only screen and (max-width: 450px) {
  .row{
    margin-bottom: 320px;
  }

/*.container {
    position: absolute;
    width: 50%;
    padding: 10px;
    height: 50px; /* Should be removed. Only for demonstration */
  }*/
@media only screen and (max-width: 450px) {
.about2{
  margin-top: 1200px;
}
}

@media only screen and (max-width: 445px) {
.about2{
  margin-top: 600px;
}
}

/*@media only screen and (max-width: 675px) {
.w-25{
  width: 400px;
}
}

.w-25{
  width: 650px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 50px;
}
*/
@media only screen and (max-width: 1115px) {
.heading2{
  margin-top: 200px;
}
}

@media only screen and (max-width: 684px) {
.heading2{
  margin-top: 300px;
}
}

@media only screen and (max-width: 658px) {
.heading2{
  margin-top: 400px;
}
}

@media only screen and (max-width: 515px) {
.heading2{
  margin-top: 500px;
}
}

@media only screen and (max-width: 431px) {
.heading2{
  margin-top: 700px;
}
}

@media only screen and (max-width: 400px) {
.heading2{
  margin-top: 800px;
}
}

@media only screen and (max-width: 382px) {
.heading2{
  margin-top: 900px;
}
}

@media only screen and (max-width: 380px) {
.about2{
  margin-top: 500px;
}
}

@media only screen and (max-width: 349px) {
.about2{
  margin-0px;
}
}


@media only screen and (max-width: 480px) {
.about2{
  margin-top: 600px;
}
}


@media only screen and (max-width: 454px) {
.about2{
  margin-top: 600px;
}
}


@media only screen and (max-width: 425px) {
.about2{
  margin-top: 650px;
}
}
  body {

  font-family:        ‘Lato’, Arial, sans-serif; 
  margin:             2vw;
  
}

h3 {
  color:              #545454;
  font-size:          1.9vw;
  font-weight:        400;
  text-transform:     uppercase;
  line-height:        .3vw;
  text-align: center;
  }

  p {
  color:              #545454;
  font-size:          2vh;
}


ul {
    margin: 0px;
    padding: 0px;
}
.footer-section {
  background: #151414;
  position: relative;
}
.footer-cta {
  border-bottom: 1px solid #373636;
}
.single-cta i {
  color: #ff5e14;
  font-size: 30px;
  float: left;
  margin-top: 8px;
}
.cta-text {
  padding-left: 15px;
  display: inline-block;
}
.cta-text h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px;
}
.cta-text span {
  color: #757575;
  font-size: 15px;
}
.footer-content {
  position: relative;
  z-index: 2;
}
.footer-pattern img {
  position: absolute;
  top: 0;
  left: 0;
  height: 330px;
  background-size: cover;
  background-position: 100% 100%;
}
.footer-logo {
  margin-bottom: 30px;
}
.footer-logo img {
    max-width: 200px;
}
.footer-text p {
  margin-bottom: 14px;
  font-size: 14px;
      color: #7e7e7e;
  line-height: 28px;
}
.footer-social-icon span {
  color: #fff;
  display: block;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 20px;
}
.footer-social-icon a {
  color: #fff;
  font-size: 16px;
  margin-right: 15px;
}
.footer-social-icon i {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
}
.facebook-bg{
  background: #3B5998;
}
.twitter-bg{
  background: #55ACEE;
}
.google-bg{
  background: #DD4B39;
}
.footer-widget-heading h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
  position: relative;
}
.footer-widget-heading h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 50px;
  background: #ff5e14;
}
.footer-widget ul li {
  display: inline-block;
  float: left;
  width: 50%;
  margin-bottom: 12px;
}





.footer-widget ul li a:hover{
  color: #ff5e14;
}
.footer-widget ul li a {
  color: #878787;
  text-transform: capitalize;
}
.subscribe-form {
  position: relative;
  overflow: hidden;
}
.subscribe-form input {
  width: 100%;
  padding: 14px 28px;
  background: #2E2E2E;
  border: 1px solid #2E2E2E;
  color: #fff;
}
.subscribe-form button {
    position: absolute;
    right: 0;
    background: #ff5e14;
    padding: 13px 20px;
    border: 1px solid #ff5e14;
    top: 0;
}
.subscribe-form button i {
  color: #fff;
  font-size: 22px;
  transform: rotate(-6deg);
}
.copyright-area{
  background: #202020;
  padding: 25px 0;
}
.copyright-text p {
  margin: 0;
  font-size: 14px;
  color: #878787;
  text-align: center;
}
.copyright-text p a{
  color: #61DAFB;
}
.footer-menu li {
  display: inline-block;
  margin-left: 20px;
}
.footer-menu li:hover a{
  color: #ff5e14;
}
.footer-menu li a {
  font-size: 14px;
  color: #878787;
}




.button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 30px;
  float: left;
  margin-right: 25px;
}

.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;

  transform: translateY(4px);
}